.root{
    -fx-background-image: url('../images/sendmessage2.jpg');
    -fx-background-size: cover;
}
.label{
    -fx-font-family: "Lucida Handwriting";
    -fx-font-size: 18;
    -fx-text-alignment: center;
}

.button{
    -fx-font-family: "Arial";
    -fx-text-fill: inherit;
    -fx-font-size: 13;
}

.text-field{
    -fx-font-family: Arial;
    -fx-font-size: 15;
}